<section class="sales">
    <app-navbar></app-navbar>
    <div class="sales__container">
        <div class="sales__card">
            

            <!--<form (ngSubmit)="postVenta()" class="sales__form">-->
            
            <div class="sales__title">
                <h3 class="sales__title--title">Register Sale</h3>
                <span class="sales__title--span">You can record a sale made to a specific customer</span>
            </div>
            <div class="sales__dataSale">
                <figure class="sales__dataSale--figure">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14">
                        <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M1.82 7.5H10l1-5H1a.5.5 0 0 0-.49.59l.82 4a.49.49 0 0 0 .49.41Zm9.18-5l.42-1.6a.5.5 0 0 1 .49-.4h1.59m-3.5 7l-.42 2.1a.5.5 0 0 1-.49.4H3" />
                            <circle cx="3.5" cy="13" r=".5" />
                            <circle cx="8.5" cy="13" r=".5" />
                        </g>
                    </svg>
                    <h4 class="sales__dataSales--title">Sale Data</h4>
                </figure>
                
                <div class="sales__dataSales--content">
                    <div class="sales__dataSales--count">
                        <span class="sales__dataSales--span especial__spans">IN</span>
                        <input type="text" class="sales__dataSales--input especial__input" readonly="readonly" name="invoiceNumber"
                            [(ngModel)]="consecutivo">
                    </div>
                    <div class="sales__dataSales--city">
                        <span class="sales__dataSales--spancitys especial__spans">City</span>
                        <select [(ngModel)]="city" class="sales__dataSales--selectcitys" name="cityName" required>
                            <option value="" disabled selected>Select a city</option>
                            <option value="Bogota">Bogota</option>
                            <option value="Medellin">Medellin</option>
                            <option value="Cali">Cali</option>
                        </select>
                        <span *ngIf="submitted && !city" class="alert">*choose a city</span>
                    </div>
                    
                </div>
            </div>
            <div class="sales__dataClient">
                <h4 class="sales__dataClient--title">Client Data</h4>
                <div class="sales__dataClient--content">
                    <div class="sales__dataClient--identity">
                        <span class="sales__dataClient--span especial__spans">ID</span>
                        <input type="text" class="sales__dataClient--input especial__input" [(ngModel)]="cedulacliente"
                            (input)="getCliente()" name="cedulacliente" required>
                        <span *ngIf="submitted && !cedulacliente" class="alert">*invalid number</span>    
                    </div>
                    <div class="sales__dataClient--name">
                        <span class="sales__dataClient--span especial__spans">Name</span>
                        <input type="text" class="sales__dataClient--inputname especial__input" readonly="readonly"
                            id="nameClient" [ngModel]="clientedata?.name" name="nameClient" required>

                    </div>
                </div>
            </div>
            <hr>
            <div class="sales__dataProduct">
                <h4 class="sales__dataProduct--title">Product Data</h4>
                <!-- Producto  -->
                <div class="sales__dataProduct--content" *ngFor="let prod of addProducts; let i = index">
                    <div class="sales__dataProduct--cod">
                        <span class="sales__dataProduct--span especial__spans" id="basic-addon1">COD.</span>
                        <input type="text" class="sales__dataProduct--input especial__input" [(ngModel)]="prod.code" name="code" required>
                        <span *ngIf="submitted && !prod.code" class="alert">*invalid number</span>
                        <div class="sales__dataProduct--button">
                            <button type="button" class="sales__dataProduct--btn" (click)="getProduct(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                    <g fill="none" fill-rule="evenodd">
                                        <path
                                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                        <path fill="#ffffff"
                                            d="M10.5 2a8.5 8.5 0 1 0 5.262 15.176l3.652 3.652a1 1 0 0 0 1.414-1.414l-3.652-3.652A8.5 8.5 0 0 0 10.5 2M4 10.5a6.5 6.5 0 1 1 13 0a6.5 6.5 0 0 1-13 0" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="sales__dataProduct--name">
                        <span class="sales__dataProduct--namespan especial__spans" id="basic-addon1">Product</span>
                        <input type="text" class="sales__dataProduct--nameinput especial__input" readonly="readonly"
                            [(ngModel)]="prod.name">
                    </div>

                    <div class="sales__dataProduct--quantity">
                        <span class="sales__dataProduct--quantityspan especial__spans" id="basic-addon1">Quantity</span>
                        <input type="text" class="sales__dataProduct--quantityinput especial__input"
                            [(ngModel)]="prod.quant" (input)="calcPrice(prod)" name="quant" required>
                            <span *ngIf="submitted && !prod.quant" class="alert">*invalid number</span>

                    </div>

                    <div class="sales__dataProduct--price">
                        <span class="sales__dataProduct--pricespan especial__spans" id="basic-addon1">Price</span>
                        <input type="text" class="sales__dataProduct--priceinput especial__input"
                            [(ngModel)]="prod.price" readonly="readonly" value="">

                    </div>

                </div>
                <div class="sales__DataProduct__bottons">
                    <button class="sales__dataProduct--addline" type="button" (click)="addLine()">&#43;</button>
                    <button class="sales__dataProduct--removeline" type="button" (click)="removeLine()">&#45;</button>
                </div>
                <!-- Aqui va el boton para agregar mas filas de productos -->
            </div>

            <hr>



            <div class="sales__totals">
                <div class="sales__totaltotal">

                    <div class="sales__totals--totalsale">
                        <span class="sales__totals--totalsalespan especial__spans" id="basic-addon1">Total
                            Sale</span> <input type="text" class="sales__totals--totalsaleinput especial__input"
                            readonly="readonly" [value]="totalSale()">
                    </div>

                    <div class="sales__totals--totaliva">
                        <span class="sales__totals--totalivaspan especial__spans" id="basic-addon1">Total
                            IVA</span> <input type="text" class="sales__totals--totalivainput especial__input"
                            readonly="readonly" [value]="totalIva()">

                    </div>

                    <div class="sales__totals--total">
                        <span class="sales__totals--totalspan especial__spans" id="basic-addon1">TT + IVA</span> <input
                            type="text" class="sales__totals--totalinput especial__input" readonly="readonly"
                            [value]="totalPlusIva()">

                    </div>

                </div>
                <div class="sales__buttons">
                    <div class="sales__button">
                        <button type="button" class="sales__button--btnpost" (click)="postVenta()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m1 5h-2v4H7v2h4v4h2v-4h4v-2h-4z" />
                            </svg>Register Sale</button>
                    </div>
                    <div class="sales__button">
                        <button type="button" class="sales__button--btnreload" (click)="reload()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="32"
                                    d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192Z" />
                                <path fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width="32"
                                    d="m341.54 197.85l-11.37-13.23a103.37 103.37 0 1 0 22.71 105.84" />
                                <path fill="#000000"
                                    d="M367.32 162a8.44 8.44 0 0 0-6 2.54l-59.54 59.54a8.61 8.61 0 0 0 6.09 14.71h59.54a8.62 8.62 0 0 0 8.62-8.62v-59.56a8.61 8.61 0 0 0-8.68-8.63Z" />
                            </svg>Reload Page</button>
                    </div>
                </div>
            </div>

            <div>
                <span *ngIf="codeResponse==201" style="color: rgb(80, 255, 0)">sale successfully created</span>
                <span *ngIf="codeResponse==500" style="color: red">sale no created</span>
            </div>
        <!--</form>-->
        </div>
        
    </div>
</section>