.consultClient{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.consultClient__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.consultClient__card{
    background:var(--first-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.consultClient__icon{
    display: flex;
    border-radius: 1rem;
    background-color: #fff;
    padding: .2rem;
    gap: .2rem;
}

.consultClient__input--input{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--first-color);
    width: 100%;
    border-radius: 1rem;
}


.consultClient__table{
    background-color: var(--first-color);
    border-collapse: collapse;
}

.consultClient__table--data{
    text-align: center;
    padding: .4rem;
    border: 1px solid #fff;
}

  
