<section class="consultClient">
    <app-navbar></app-navbar>
    <div class="consultClient__container">
        <div class="consultClient__card">
            <span class="consultClient__title">
                <b>CONSULT CLIENT</b>
            </span>
            <figure class="consultClient__figure">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 24 24"><g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="10" cy="8" r="5"/><path d="M2 21a8 8 0 0 1 10.434-7.62"/><circle cx="18" cy="18" r="3"/><path d="m22 22l-1.9-1.9"/></g></svg>
            </figure>
            <div class="consultClient__input">
                <figure class="consultClient__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="#252850"
                            d="M14 13h5v-2h-5zm0-3h5V8h-5zm-9 6h8v-.55q0-1.125-1.1-1.787T9 13q-1.8 0-2.9.663T5 15.45zm4-4q.825 0 1.413-.587T11 10q0-.825-.587-1.412T9 8q-.825 0-1.412.588T7 10q0 .825.588 1.413T9 12m-5 8q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm0-2h16V6H4zm0 0V6z" />
                    </svg>
                    <input type="text" class="consultClient__input--input" placeholder="Identification"
                        [(ngModel)]="cedulasearch">
                    <span class="consultClient__inputs">
                        <span *ngIf="cedulasearch!=undefined && cedulasearch!=''"
                            class="consultClient__input--true">&#9989;</span>

                        <span *ngIf="cedulasearch==undefined || cedulasearch==''"
                            class="consultClient__input--false">&#10060;</span>
                    </span>
                </figure>
            </div>
            <button (click)="buscarCliente()" class="consultClient__btn" type="submit">SEARCH</button>
            <span *ngIf="codeget==200" style="color: rgb(80, 255, 0)">client successfully consulted</span>
            <span *ngIf="codeget==204" style="color: red">client doesn't exist</span>
        </div>
        <table class="consultClient__table" *ngIf="contenido">
            <thead>
                <tr>
                    <th class="consultClient__table--data">Identification</th>
                    <th class="consultClient__table--data">Name</th>
                    <th class="consultClient__table--data">Address</th>
                    <th class="consultClient__table--data">Email</th>
                    <th class="consultClient__table--data">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="consultClient__table--data">{{contenido.identification}}</td>
                    <td class="consultClient__table--data">{{contenido.name}}</td>
                    <td class="consultClient__table--data">{{contenido.address}}</td>
                    <td class="consultClient__table--data">{{contenido.email}}</td>
                    <td class="consultClient__table--data">{{contenido.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>