.createSupplier{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.createSupplier__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.createSupplier__card{
    background:var(--first-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.createSupplier__icon{
    display: flex;
    border-radius: 1rem;
    background-color: #fff;
    padding: .2rem;
    gap: .2rem;
}

.createSupplier__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.createSupplier__button{
display: flex;
flex-direction: column;
align-items: center;
}