<section class="updateSupplier">
    <app-navbar></app-navbar>
    <div class="updateSupplier__container">
        <div class="updateSupplier__card">
            <span class="updateSupplier__title">
                <b>UPDATE SUPPLIER</b>
            </span>
            <figure class="updateSupplier__figure">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 24 24"><path fill="#ffffff" d="M17 13a.26.26 0 0 0-.26.21l-.19 1.32c-.3.13-.59.29-.85.47l-1.24-.5c-.11 0-.24 0-.31.13l-1 1.73c-.06.11-.04.24.06.32l1.06.82a4.193 4.193 0 0 0 0 1l-1.06.82a.26.26 0 0 0-.06.32l1 1.73c.06.13.19.13.31.13l1.24-.5c.26.18.54.35.85.47l.19 1.32c.02.12.12.21.26.21h2c.11 0 .22-.09.24-.21l.19-1.32c.3-.13.57-.29.84-.47l1.23.5c.13 0 .26 0 .33-.13l1-1.73a.26.26 0 0 0-.06-.32l-1.07-.82c.02-.17.04-.33.04-.5s-.01-.33-.04-.5l1.06-.82a.26.26 0 0 0 .06-.32l-1-1.73c-.06-.13-.19-.13-.32-.13l-1.23.5c-.27-.18-.54-.35-.85-.47l-.19-1.32A.236.236 0 0 0 19 13zm1 3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5c-.84 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5M10 5h2v2h-2zm6 2h-2V5h2zm-2 2h2v2h-2zm-4 0h2v2h-2zm3.11 14H2V1h18v10.29c-.63-.18-1.3-.29-2-.29V3H4v18h6v-3.5h1.03c-.03.17-.03.33-.03.5c0 1.96.81 3.73 2.11 5M8 15H6v-2h2zm0-4H6V9h2zm0-4H6V5h2zM6 17h2v2H6zm4-4h2v1.41c-.11.19-.22.39-.32.59H10z"/></svg>
            </figure>
            <div class="updateSupplier__inputs">
                <div class="updateSupplier__input">
                    <figure class="updateSupplier__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#252850"
                                d="M14 13h5v-2h-5zm0-3h5V8h-5zm-9 6h8v-.55q0-1.125-1.1-1.787T9 13q-1.8 0-2.9.663T5 15.45zm4-4q.825 0 1.413-.587T11 10q0-.825-.587-1.412T9 8q-.825 0-1.412.588T7 10q0 .825.588 1.413T9 12m-5 8q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm0-2h16V6H4zm0 0V6z" />
                        </svg>
                        <input type="text" placeholder="Nit" [(ngModel)]="nitupdate">
                        <span class="updateSupplier__spans">
                            <span *ngIf="nitupdate!=undefined && nitupdate!=''">&#9989;</span>

                            <span *ngIf="nitupdate==undefined || nitupdate==''">&#10060;</span>
                        </span>
                    </figure>

                </div>

                <div class="updateSupplier__input">
                    <figure class="updateSupplier__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#252850"
                                d="M12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5M12 2a7 7 0 0 1 7 7c0 5.25-7 13-7 13S5 14.25 5 9a7 7 0 0 1 7-7m0 2a5 5 0 0 0-5 5c0 1 0 3 5 9.71C17 12 17 10 17 9a5 5 0 0 0-5-5" />
                        </svg>
                        <input type="text" placeholder="Address" [(ngModel)]="direccionupdate">
                        <span class="updateSupplier__spans">

                            <span *ngIf="direccionupdate!=undefined && direccionupdate!=''">&#9989;</span>

                            <span *ngIf="direccionupdate==undefined || direccionupdate==''">&#10060;</span>
                        </span>
                    </figure>
                </div>

                <div class="updateSupplier__input">
                    <figure class="updateSupplier__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" stroke="#252850" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <path d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                                <path d="m3 7l9 6l9-6" />
                            </g>
                        </svg>
                        <input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="emailupdate">
                        <span class="updateSupplier__spans">

                            <span *ngIf="emailupdate!=undefined && emailupdate!=''">&#9989;</span>

                            <span *ngIf="emailupdate==undefined || emailupdate==''">&#10060;</span>

                        </span>
                    </figure>
                </div>

                <div class="updateSupplier__input">
                    <figure class="updateSupplier__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <circle cx="12" cy="6" r="4" fill="#252850" />
                            <path fill="#252850"
                                d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5" />
                        </svg>
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="nombreupdate">
                        <span class="updateSupplier__spans">

                            <span *ngIf="nombreupdate!=undefined && nombreupdate!=''">&#9989;</span>

                            <span *ngIf="nombreupdate==undefined || nombreupdate==''">&#10060;</span>

                        </span>
                    </figure>
                </div>

                <div class="updateSupplier__input">
                    <figure class="updateSupplier__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#252850"
                                d="M10 20h4v-1h-4zm-3 3q-.825 0-1.412-.587T5 21V3q0-.825.588-1.412T7 1h10q.825 0 1.413.588T19 3v18q0 .825-.587 1.413T17 23zm0-5v3h10v-3zm0-2h10V6H7zM7 4h10V3H7zm0 14v3zM7 4V3z" />
                        </svg>
                        <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="telefonoupdate">
                        <span class="updateSupplier__spans">

                            <span *ngIf="telefonoupdate!=undefined && telefonoupdate!=''">&#9989;</span>

                            <span *ngIf="telefonoupdate==undefined || telefonoupdate==''">&#10060;</span>
                        </span>
                    </figure>
                </div>
            </div>

            <div class="updateSupplier__button">
                <button (click)="updateSupplier()" type="submit" name="btnActualizar">UPDATE</button>
                <span *ngIf="codeput==200" style="color: rgb(81, 255, 0)">update successfully</span>
                <span *ngIf="codeput==204" style="color: red">supplier doesn't exists</span>
            </div>
        </div>
    </div>
</section>
